pkgbase = projecttracker-bin
	pkgdesc = Project tracker application
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/sampyeatt/ProjectTracker
	install = projecttracker-bin.install
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = webkit2gtk-4.1
	depends = libayatana-appindicator
	depends = librsvg
	provides = projecttracker
	conflicts = projecttracker
	options = !strip
	source_x86_64 = projecttracker-bin-1.0.0-x86_64.deb::https://github.com/sampyeatt/ProjectTracker/releases/download/app-v1.0.0/ProjectTracker_1.0.0_amd64.deb
	sha256sums_x86_64 = 749d4155336f42a1e994d8e09e19ce0bf3c7235f5a03184977f7bd005b2a9ef4
	source_aarch64 = projecttracker-bin-1.0.0-aarch64.deb::https://github.com/sampyeatt/ProjectTracker/releases/download/app-v1.0.0/ProjectTracker_1.0.0_arm64.deb
	sha256sums_aarch64 = 701be878eb94ad670456c99ca744707dcc581ef35b44bc8c56b69ee469c9f469

pkgname = projecttracker-bin
